#logo, #logoapi{
    border-radius: 10px 50px 10px 5px;
}

#botin{
    padding: 3px;
    border-color: black;
    font-family:cursive;
    font-weight: bold;
}

#result th{
    color: rgb(3, 94, 82);
    font-weight: bold;
    
}
#result td{
    color: rgb(9, 128, 21);
}