{% extends "layouts/main.html" %} 

{% block content %}
    <div class="container-fluid">
        <div class="col-12">
            <h1>Bienvenido/a a WalletChoN</h1>
            <p>
            WalletChoN es la aplicación perfecta para llevar un control total de tus
            finanzas. Con WalletChoN, podrás gestionar tus ingresos, gastos, ahorros y
            mucho más, todo en un solo lugar.
            </p>
        </div>
        <div class="pb-3">
            <img src="static/images/logooficial2.jpg" alt="Logo Wallet" width="300px" height="300px" id="logo"/>
        </div>
    </div>

    <!--
    <div class="d-flex justify-content-end py-3">
        <a href="/billetera/" class="btn btn-success">Go To Wallet</a>
    </div>
    </div>

    <h2>Características destacadas de WalletChoN:</h2>
    <ul>
    <li>Registro de ingresos y gastos con facilidad.</li>
    <li>Cálculo automático del ahorro mensual.</li>
    <li>Consejos financieros personalizados para ahorrar más.</li>
    <li>Visualización clara y detallada de tus transacciones.</li>
    <li>Seguridad y privacidad de tus datos garantizadas.</li>
    </ul>

    <p>
    ¿Necesitas un empujoncito para mejorar tus hábitos financieros? ¡No te
    preocupes! WalletChoN también te brinda consejos personalizados para ayudarte
    a optimizar tus finanzas y alcanzar tus metas de ahorro.
    </p>

    <p>
    Con WalletChoN, toma el control de tu billetera y siente la tranquilidad de
    tener una gestión financiera sólida. No importa si eres estudiante,
    profesional o emprendedor, WalletChoN se adapta a tus necesidades y te ayuda a
    tomar decisiones financieras inteligentes.
    </p>

    <p>
    ¡Únete a nuestra comunidad de usuarios satisfechos y descarga WalletChoN
    ahora! ¡Es hora de dominar tus finanzas y alcanzar la estabilidad económica
    que deseas!
    </p>

    <p>
    Si tienes alguna pregunta o sugerencia, no dudes en ponerte en contacto con
    nuestro equipo de soporte. Estamos aquí para ayudarte en cada paso del camino.
    </p>

    <p>
    Gracias por elegir WalletChoN. ¡Aprovecha al máximo tu dinero con nosotros!
    </p>

    <p>El equipo de WalletChoN</p>
    -->

{% endblock %}
